<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask-Blogly</title>
  </head>
  <body>
    <div class="nav-bar" id="nav-bar">
      <div class="nav-title" id="nav-title">blogly</div>
      <div class="nav-item" id="nav-home">HOME</div>
      <div class="nav-item" id="nav-users">USERS</div>
      <div class="nav-item" id="nav-create-user">NEW USER</div>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
