{% extends 'base.html' %} {% block content %}
<div class="container-sm">
  <div class="row mb-3"><h1 class="text-center">Edit post:</h1></div>
  <hr class="mb-0" />
  <div class="container bg-light">
    <div class="container" style="width: 600px">
      <div class="row pt-3 pb-3">
        <form method="post">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Title..."
              name="title"
              required
              value="{{ post.title }}"
            />
            <label for="floatingInput">Post title</label>
          </div>
          <div class="form-floating mb-3">
            <textarea
              id="content"
              class="form-control"
              name="content"
              style="height: 200px"
              placeholder="Write a post..."
              required
            >
{{ post.content }}</textarea
            >
            <label for="content">Write a post...</label>
          </div>
          <a
            class="btn btn-lg btn-secondary"
            href="/users/{{ post.user.id }}/posts/{{ post.id }}"
          >
            Cancel
          </a>
          <button type="submit" class="btn btn-lg btn-primary">
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
