{% extends 'base.html' %} {% block content %}
<form method="post">
  <label for="image_url">Profile pic url:</label>
  <input
    type="text"
    name="image_url"
    placeholder="https://..."
    value="{{ image_url }}"
  />
  <label for="name">Name:</label>
  <input
    required
    type="text"
    id="name"
    name="name"
    placeholder="Name..."
    value="{{ user.get_full_name }}"
  />
  <a class="btn btn-sm btn-secondary" href="/users/{{ user.id }}"> Cancel </a>
  <button class="btn btn-sm btn-primary" type="submit">Save Changes</button>
</form>
<form></form>
{% for msg in get_flashed_messages() %}
<div class="messages">{{ msg }}</div>
{% endfor %} {% endblock %}
