{% extends 'base.html' %} {% block content %}
<form method="post">
  <label for="image_url">Profile pic url:</label>
  <input
    type="text"
    name="image_url"
    placeholder="https://..."
    value="{{ image_url }}"
  />
  <label for="name">First name:</label>
  <input
    required
    type="text"
    id="name"
    name="name"
    placeholder="Full name..."
    value="{{ full_name }}"
  />
  <button type="submit">Save Changes</button>
</form>
{% for msg in get_flashed_messages() %}
<div class="messages">{{ msg }}</div>
{% endfor %} {% endblock %}
