{% extends 'base.html' %} {% block content %}
<h1>Add a user</h1>
<div class="form-container" id="form-container">
  <form
    method="post"
    class="new-user-form"
    id="new-user-form"
    enctype="multipart/form-data"
  >
    <label for="image_url">Perofile pic url:</label>
    <input
      type="text"
      name="image_url"
      placeholder="https://..."
      value="{{ err_image_url }}"
    />
    <label for="user_name">Username:</label>
    <input
      required
      type="text"
      name="user_name"
      placeholder="Username..."
      value="{{ err_user_name }}"
    />
    <label for="name">Name</label>
    <input
      required
      type="text"
      id="name"
      name="name"
      placeholder="First and last name..."
      value="{{ err_full_name }}"
    />
    <button type="submit">Add</button>
  </form>
</div>
{% for msg in get_flashed_messages() %}
<div class="messages">{{ msg }}</div>
{% endfor %} {% endblock %}
