{% extends 'base.html' %} {% block messages %} {% for msg in
get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ msg }}<button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endblock %} {% block content %}
<h1 class="text-center">Add a user</h1>
<div class="container bg-light rounded">
  <hr />
  <div class="container-sm" id="form-container" style="width: 600px">
    <form method="post" class="new-user-form" id="new-user-form">
      <div class="form-floating mb-3">
        <input
          class="form-control"
          required
          type="text"
          id="name"
          name="name"
          placeholder="First and last name..."
          value="{{ name }}"
        />
        <label for="name">First and Last Name (Middle Optional)</label>
      </div>
      <div class="form-floating mb-3">
        <input
          class="form-control"
          required
          type="text"
          name="user_name"
          placeholder="Username..."
          value="{{ user_name }}"
        />
        <label for="user_name">Enter a Username</label>

        <div class="form-floating mb-3 mt-3">
          <input
            class="form-control"
            type="url"
            name="image_url"
            placeholder="https://..."
            value="{{ image_url }}"
            pattern="https://.*"
          />
          <label for="image_url">URL for Profile Picture</label>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary btn-sm mb-3" type="submit">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
