{% extends 'base.html' %} {% block content %}
<div class="container-sm">
  <div class="row">Make a new post:</div>
  <div class="row">
    <form method="post">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Title..."
          name="title"
          required
          style="width: 400px"
        />
        <label for="floatingInput">Post title</label>
      </div>
      <div class="form-floating">
        <textarea
          id="content"
          class="form-control"
          name="content"
          style="width: 600px; height: 100px"
          placeholder="Write a post..."
          required
        ></textarea>
        <label for="content">Write a post...</label>
      </div>
      <a class="btn btn-lg btn-secondary" href="/users/{{ user_id }}">
        Cancel
      </a>
      <button type="submit" class="btn btn-lg btn-primary">Post</button>
    </form>
  </div>
</div>
{% endblock %}
