{% extends 'base.html' %} {% block messages %} {% for msg in
get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ msg }}<button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endblock %} {% block content %}
<div class="container">
  <div class="row">Posts by {{ user.get_name }}:</div>
  {% for post in user.posts %}
  <div class="row">
    <div class="col">
      <a href="/users/{{ post.user_id }}/posts/{{ post.id }}"
        >{{ post.title }}</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
