{% extends 'base.html' %} {% block messages %} {% for msg in
get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ msg }}<button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endblock %} {% block content %}
<div
  class="container-sm position-absolute translate-middle bottom- 50 top-50 start-50"
  style="height: 200px; width: 700px"
>
  <div class="row">
    <div class="col-sm">
      <img class="img-fluid img-thumbnail rounded" src="{{ user.image_url }}" />
    </div>
    <div class="col-lg">
      <h1>{{ user.get_full_name }}</h1>
      <div>@{{ user.user_name }}</div>
      <form>
        <button
          class="btn btn-sm btn-warning"
          formaction="/users/{{ user.id }}/edit"
          formmethod="GET"
        >
          EDIT
        </button>
        <button
          class="btn btn-sm btn-danger"
          formaction="/users/{{ user.id }}/delete"
          formmethod="POST"
        >
          DELETE
        </button>
      </form>
      <div>
        <div>Latest posts</div>
        {% if not user.posts %}
        <div>No posts!</div>
        {% elif user.posts %} {% for post in recent_posts %}
        <div>
          <a href="/users/{{ user.id }}/posts/{{ post.id }}"
            >{{ post.title }}</a
          >
          <div>{{ post.friendly_date }}</div>
        </div>
        {% endfor %} {% endif %}
      </div>
      <div>
        <a href="/users/{{ user.id }}/posts" class="btn btn-sm btn-success"
          >View All</a
        >
        <a href="/users/{{ user.id }}/posts/new" class="btn btn-sm btn-primary">
          Add a Post
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
