{% extends 'base.html' %} {% block content %} {% for msg in
get_flashed_messages() %}
<div>{{ msg }}</div>
{% endfor %}
<div>
  <img src="{{ user.image_url }}" />
  <div>
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <form>
      <button formaction="/users/{{ user.id }}/edit" formmethod="GET">
        EDIT
      </button>
      <button formaction="/users/{{ user.id }}/delete" formmethod="POST">
        DELETE
      </button>
    </form>
    <div>{{ user.user_name }}</div>
  </div>
</div>
{% endblock %}
