{% extends 'base.html' %} {% block content %} {% for msg in
get_flashed_messages() %}
<div>{{ msg }}</div>
{% endfor %}
<div
  class="container-sm position-absolute translate-middle bottom- 50 top-50 start-50"
  style="height: 200px; width: 700px"
>
  <div class="row">
    <div class="col-sm">
      <img class="img-fluid img-thumbnail rounded" src="{{ user.image_url }}" />
    </div>
    <div class="col-lg">
      <h1>{{ full_name }}</h1>
      <div>{{ user.user_name }}</div>
      <form>
        <button
          class="btn btn-warning"
          formaction="/users/{{ user.id }}/edit"
          formmethod="GET"
        >
          EDIT
        </button>
        <button
          class="btn btn-danger"
          formaction="/users/{{ user.id }}/delete"
          formmethod="POST"
        >
          DELETE
        </button>
      </form>
      <div>
        <div>Posts</div>
        {% if not user.posts %}
        <div>No posts!</div>
        {% endif %} {% if user.posts %} {% for post in user.posts %}
        <div>
          <a href="/users/{{ user.id }}/posts/{{ post.id }}"
            >{{ post.title }}</a
          >
          <div>{{ post.created_datetime }}</div>
        </div>
        {% endfor %} {% endif %}
      </div>
      <div>
        <form>
          <button
            formaction="/users/{{ user.id }}/posts/new"
            class="btn btn-sm btn-primary"
          >
            Add a Post
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
